[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "libfabric-sys/libfabric"]
	path = libfabric-sys/libfabric
	url = https://github.com/ofiwg/libfabric.git
[submodule "pmix-sys/openpmix"]
	path = pmix-sys/openpmix
	url = https://github.com/openpmix/openpmix.git
[submodule "prrte-sys/prrte"]
	path = prrte-sys/prrte
	url = https://github.com/openpmix/prrte.git
[submodule "openpmix-src/openpmix"]
	path = openpmix-src/openpmix
	url = https://github.com/openpmix/openpmix.git
[submodule "prrte-src/prrte"]
	path = prrte-src/prrte
	url = https://github.com/openpmix/prrte.git
