# autotools generated
/autom4te.cache/
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/test-driver
Makefile.in

# build dir
/build/
